header {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_addEvento {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: .25rem .5rem;
    background-color: var(--color-3);
    cursor: pointer;
    transition: .5s;
}

.container_addEvento:hover {
    transform: scale(1.1);
    opacity: .8;
}

.container_addEvento:active {
    transform: scale(1.2);
    opacity: .6;
}

.container_addEvento img {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.container_addEvento span {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-cinza-black);
}