* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container_semEventos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
}