:root {
  /* --color-1: #004682; */
  /* --color-2: #FFB980; */
  /* --color-3: rgba(128, 196, 255, 0.6); */
  --color-cancel: #820000;
  --text-cinza-black: #1E1E1E;
  --fundo-criar: rgba(230, 230, 230, .9);
  --fundo-evento-hover: rgb(68, 68, 68, 0.2);

  --text-titulo: #414651;
  --text-descricao: #535862;
  --text-data: #414651;

  /* --color-1: #3d3d3d; */
  /* --color-2: #c4c4c4; */
  /* --color-3: #999999; */
  
  
  /* --color-1: #252525; */
  /* --color-2: #F4F5F7; */
  /* --color-3: #E0E0E0; */

  --color-1: #2173b6;
  --color-2: #b4ddc2;
  --color-3: #6ec4d3;
}
